	.home {
		width: 100%;
		height: calc(100vh - 60px);
		background-image: url("../../assets/images/eee.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover;
	}
	.homeTitleContainer {
		height: 100%;
		padding: 180px;
	}
	.homeTitle {
		font-size: 80px;
		color: white;
	}