.home {
	width: 100%;
	height: calc(100vh - 60px);
	background-image: url("../../../assets/images/kl.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	position: relative;
	&::after{
		content: '';
		background-color: rgba(0, 0, 0, .4);
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 0;
	}
}
.homeTitleContainer {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	.homeTitleMiddleContainer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}
.homeTitle {
	font-size: 80px;
	color: white;
	margin-bottom: 20px;
}